<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>Topic_name</th>
                <th>name</th>
                <th>email</th>
                <th>url</th>
            </tr>
            {% for a in webs %}
                <tr>
                    <td>{{a.Topic_name}}</td>
                    <td>{{a.name}}</td>
                    <td>{{a.email}}</td>
                    <td>{{a.url}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>